* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --black: #000;
  --gray: #888;
  --white: #fff;
}

*,
input,
button {
  font-family: 'Inter', sans-serif;
}

html {
  background: var(--white);
  color: var(--gray);
  font-size: 62.5%;
}

html:not([data-scroll="0"]) header {
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

html:not([data-scroll="0"]) .middle {
  opacity: 0;
}

#wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  position: fixed;
  max-width: 350rem;
  width: 100%;
  min-height: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow .2s ease 0s;
  transition: -webkit-box-shadow .2s ease 0s;
  transition: box-shadow .2s ease 0s;
  transition: box-shadow .2s ease 0s, -webkit-box-shadow .2s ease 0s;
  width: 100%;
  height: 3.7rem;
  padding: 0rem 2.4rem;
  margin: 1.35rem 11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content .left {
  height: 2.6rem;
  width: 30%;
  margin-left: -1%;
}

.header-content .left img {
  height: 100%;
}

.header-content .middle {
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  width: 40%;
}

.header-content .middle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  height: 3.3rem;
  width: 100%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.header-content .middle ul li a {
  font-size: 1.4rem;
  padding: 0.8rem 1.6rem;
  color: var(--gray);
  text-decoration: none;
}

.header-content .middle ul li a + a {
  margin-left: 1.2rem;
}

.header-content .right {
  width: 30%;
}

.header-content .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 100%;
}

.header-content .right ul li a {
  font-size: 1.4rem;
  padding: 0.8rem 1.6rem;
  color: var(--gray);
  text-decoration: none;
}

.header-content .right ul li a + a {
  margin-left: 1.2rem;
}

.header-content .sign-up {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: 0;
  background: var(--black);
  color: #ffffff;
  border-radius: 0.4rem;
  -webkit-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  height: 3.2rem;
  width: 7.818rem;
  padding: .6rem 1.2rem;
  border: 0.1rem solid var(--black);
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 500;
}

.header-content .sign-up:hover {
  background: transparent;
  color: var(--black);
  border: 0.1rem solid var(--black);
}

@-webkit-keyframes colorCycle {
  0%, 55% {
    -webkit-filter: brightness(0) invert(0);
            filter: brightness(0) invert(0);
  }
  11%, 33% {
    -webkit-filter: none;
            filter: none;
  }
}

@keyframes colorCycle {
  0%, 55% {
    -webkit-filter: brightness(0) invert(0);
            filter: brightness(0) invert(0);
  }
  11%, 33% {
    -webkit-filter: none;
            filter: none;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 104.8rem;
  padding: 5.6rem 2.4rem;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 15.9rem;
  line-height: 1;
  letter-spacing: -.85rem;
  color: var(--black);
}

h1 span {
  padding: 0 0.64rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: brightness(0) invert(0);
          filter: brightness(0) invert(0);
  -webkit-animation: colorCycle 8s ease-in-out infinite;
          animation: colorCycle 8s ease-in-out infinite;
}

h1 span:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, right top, from(#007cf0), to(#00dfd8));
  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
  margin-top: 5.7rem;
}

h1 span:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, right top, from(#7928ca), to(#ff0080));
  background-image: linear-gradient(90deg, #7928ca, #ff0080);
  -webkit-animation-delay: 2.66s;
          animation-delay: 2.66s;
}

h1 span:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff4d4d), to(#f9cb28));
  background-image: linear-gradient(90deg, #ff4d4d, #f9cb28);
  -webkit-animation-delay: 5.33s;
          animation-delay: 5.33s;
}

.buttons {
  margin-top: 6.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons > button {
  background: var(--black);
  color: var(--white);
  border-radius: 0.4rem;
  margin: 1.2rem;
  padding: 1.5rem 4.5rem;
  border: 0.1rem solid var(--black);
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.buttons > button.outlined {
  background: transparent;
  color: var(--gray);
  border: 0.1rem solid var(--gray);
}

.buttons > button:hover {
  background: transparent;
  color: var(--black);
  border: 0.1rem solid var(--black);
}

h2 {
  margin: 6.4rem 0;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.04rem;
  text-align: center;
}

footer {
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.32rem;
  text-align: center;
  margin-bottom: 4.8rem;
}
/*# sourceMappingURL=styles.css.map */